# env files
.env
.env.local
.env.*.local

# node
/node_modules
/packages/db/node_modules

# infrastructure data volumes
/data

# python
app/workers/venv/
app/workers/__pycache__/
**/__pycache__/
*.pyc